body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}

.timer-container {
  display:flex;
  flex-direction: column;
  min-height: 40vh;
  align-items: center;
  color: #ffffff;
}